img {
    background: linear-gradient(45deg, rgba(240,240,240,1), rgb(250,250,250));
    border-style: solid;
    border-color: rgb(200,200,200);
    border-width: 1px;
}

figcaption {
    font-size: small;
    padding-left: 1em;
    font-style: italic;
}

figure {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}

/* TODO: consider img width 100%, figcaption center. */
