<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.headtitle %}{{ page.headtitle | escape }}{% elsif page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  {% if page.thumbnail %}<meta property="og:image" content="{{site.url | append: page.thumbnail}}">{% endif %}
  {% if page.title %}<meta property="og:title" content="{{page.title | escape}}">{% endif %}
  {% if page.layout == 'post' %}
    <meta property="og:type" content="article">
  {% endif %}
  <meta name="twitter:site" content="@{{site.twitter_username}}">

  {% if page.excerpt %}
  <meta name="twitter:card" content="summary{% if page.large_img %}_large_image{% endif %}">
    <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines | xml_escape | truncate: 160 }}">
    <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | xml_escape | truncate: 160 }}">
  {% endif %}

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  {% if page.custom_css %}
    {% for stylesheet in page.custom_css %}
        <link rel="stylesheet" href="/css/{{ stylesheet }}.css" type="text/css">
    {% endfor %}
  {% endif %}
  {% if page.quick_css %}
  <style>{{ page.quick_css }}</style>
  {% endif %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <!-- bootstrap stuff -->
    <!-- jquery dep -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous" defer="true"></script>

    <!-- google analytics -->
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-40008549-2', 'auto');
    ga('send', 'pageview');</script>
</head>
