#porthole {
    text-align: center;
    font-size: xx-large;
}

#heart {
    float: right;
    font-size: 1.3em;
    color: rgb(255, 50, 128);
}

#thebutton {
    font-size: xx-large;
    padding: .5em 1em .5em 1em;
    margin-bottom: 15px;
}

.tab-label {
    font-size: large;
}

body {
    /*background-image: url("bg/octo_pixely.png");
    background-repeat: no-repeat;
    background-size: 100%;*/
}

.widget {
    padding-top: 25px;
}

.btn-group-vertical label { 
    opacity: .5;
}

.btn-group-vertical label.active {
    opacity: 1.0;
}

input[type=checkbox] {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
}
