#porthole {
    text-align: center;
    font-size: xx-large;
}

#thebutton {
    font-size: xx-large;
    padding: .5em 1em .5em 1em;
    margin-bottom: 15px;
}

#generated.loading {
    color: grey;
}


.sample-list {
    max-height: 350px;
    overflow: auto;
}

.sample-list ul li {
    padding-left: 10px;
}

#weirdlabel {
    margin-left: 4px;
}

.hist-weird {
    background-color: rgba(217,83,29,.1);
}

.hist-nonweird { 
    background-color: rgba(200,228,228,.1);
}

body {
    /*background-image: url("bg/octo_pixely.png");
    background-repeat: no-repeat;
    background-size: 100%;*/
}

.widget {
    padding-top: 25px;
}

.btn-group-vertical label { 
    opacity: .5;
}

.btn-group-vertical label.active {
    opacity: 1.0;
}

input[type=checkbox] {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
}

.plug a {
    font-size: larger;
}

#historywrapper {
    border-top-style: groove;
    border-bottom-style: groove;
}

#mobilebuffer {
    height: 50px;
}
