#porthole {
    text-align: center;
    font-size: xx-large;
    font-family: monospace;
}

#thebutton {
    font-size: xx-large;
    padding: .5em 1em .5em 1em;
    margin-bottom: 15px;
}

#generated.loading {
    color: grey;
}


.sample-list {
    max-height: 30vh;
    overflow: auto;
}

.sample-list ul li {
    padding-left: 10px;
    font-family: monospace;
}

#weirdlabel {
    margin-left: 4px;
}

.hist-weird {
    color: rgb(148,34,34);
}

body {
    /*background-image: url("bg/octo_pixely.png");
    background-repeat: no-repeat;
    background-size: 100%;*/
}

.widget {
    padding-top: 25px;
}

.plug a {
    font-size: larger;
}

#mobilebuffer {
    height: 50px;
}

#weird span {
    vertical-align: baseline;
}

#whatsweird {
    font-size: smaller;
    font-size: 1.3em;
    opacity: 0.5;
    padding-left: 5px;
}

#fire {
    font-size: 2.0em;
    background-image: linear-gradient(to bottom,#fcf8e3 0,#faf2cc 100%);
}

#fire.cool {
    color: rgba(0,0,0,.3);
}

#fire.cool:hover {
    color: rgba(244,67,54,0.5);
}

#fire.hot {
    color: rgba(244,67,54,1.0);
}

#fire.hot:hover {
    color: rgba(244,67,54,0.5);
}

