<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }}</title>
        <link rel="shortcut icon" type="image/png" href="/assets/{{ page.favicon }}.png">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/rbm/gen.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<link rel="stylesheet" href="/rbm/gen.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>

<body data-namesource="/rbm/data/{{ page.data_file }}.json">
<a class="hidden-md hidden-sm hidden-xs" href="https://github.com/colinmorris"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
<div class="container">
<div class="row main">
<div class="widget col-md-9 col-xs-12">

    <div class="row">
        <div id="porthole" class="col-md-9 col-xs-12">
            <div class="well"><span id="generated" class="loading">loading...</span>
            </div>
        </div>
    </div>
  
    <!-- Refresh button row -->
    <div class="row">
        <div class="col-xs-4 col-md-3 col-md-offset-3 col-xs-offset-4">
        <button id="thebutton" type="button" class="center-block btn btn-lg btn-primary">
            <span class="glyphicon glyphicon-refresh">
        </button></div>
        
        <div class="col-md-3 col-xs-4">
            <span id="weird">
            <span id="fire" class="glyphicon glyphicon-fire btn cool"></span>
            <span id="whatsweird" class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Switch to samples assigned lower energy (and therefore lower probability) by the model" data-placement="bottom"></span>
            </span>
        </div>
    </div>

    <!-- History -->
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <div class="panel panel-warning">
            <div class="panel-heading" id="historytoggle" href="#history-tab" data-toggle="collapse">
            <h4 class="panel-title">
                <span class="glyphicon glyphicon-time"></span>
                <span id="historytogglechevron" class="glyphicon glyphicon-chevron-up"></span>
            </h4>
            </div>

            <div class="panel-body collapse sample-list" id="history-tab">
                <ul id="history" class="list-unstyled">
                </ul>
            </div>
            </div> <!-- /panel -->
            
        </div>

    </div> <!-- /history row -->

</div> <!-- /widget -->

<!-- hack for mobile spacing -->
<div id="mobilebuffer" class="col-xs-12 hidden-lg hidden-md"></div>
<div class="about col-md-3 col-xs-9">
    <h2>{{ page.title }}</h2>
    {{ content }}

    <p class="plug">For more details, check out my <a href="/blog/dreaming-rbms">blog post</a>.</p>

    <p>People who enjoyed this nonsense also liked...</p>

    <ul class="plug">
        {% if page.data_file != "repos" %}<li><a href="/rbm/repos">GitHub repo generator</a></li>{% endif %}
        {% if page.data_file != "usgeo" %}<li><a href="/rbm/geo">Place name generator</a></li>{% endif %}
        {% if page.data_file != "actors" %}<li><a href="/rbm/actors">Actor name generator</a></li>{% endif %}
    </ul>

    {% if page.data_file == "repos" %}<p class="plug"><a href="/rbm/zoo">A peek inside the brain of this network</a></p>{% endif %}

</div> <!-- /about -->

</div> <!-- /row -->

</div>
</body
</html>
